header{
    background-color: transparent;
    margin-top: -21px;
    margin-left: -8px;
    height: 110px;
    width: 100%;
    position: fixed;
    background-image: url(../imagens/backgroun_header.jpeg);
    background-repeat: repeat;
    background-size:cover;
    background-position: center center;
    padding: 8px;
}

@font-face {
    font-family: 'ChineseRocks';
    src: url(../fonts/CHINESER.TTF) format('truetype');
    font-weight: normal;
    font-style: normal;
}

h1.titulo_header{
    font-family:'ChineseRocks','Bahnschrift';
    color: white;
    font-size: 40px;
    text-indent: 1%;
    margin-top: 30px;
    text-shadow: 5px 5px 3px black;
    text-align: center;
}
h3.subtitulo_header{
    font-family:'ChineseRocks','Bahnschrift';
    color: white;
    margin-top: 1%;
    font-size: 20px;
    text-align: center;
    text-indent: 1%;
    margin-top: -10px;
    text-shadow: 4px 4px 2px black;

}

header img#banner_left{
    position: absolute;
    left: 4%;
    top: 13%;
    width: 280px;
    height: 89px;
    box-shadow: 1px 2px 6px black;
    margin-top: 10px;
}
header img#banner_right{
    position: absolute;
    right: 4%;
    top: 13%;
    width: 250px;
    height: 89px;
    box-shadow: 1px 2px 6px black;
    margin-top: 10px;
}

main{
    height: 1500px;
}
